<div class="container-fluid">
  <div class="row">
    <div class="col text-left">
      © {{"now"|date('Y')}} OMEN
    </div>
    <div class="col d-none d-sm-block text-center">
      {% include 'partials/idiomas.twig' %}
    </div>
    <div class="col text-right">
      {% include 'partials/redes.twig' %}
    </div>
  </div>
</div>